html {width:100%;
      height:100%;}

body {background-color: LightSteelBlue;
      font-family:sans-serif;}

table#user-matrix {border: 1px solid gray;}

span.tip {font-family: monospace;}

li   {list-style-type: none;}
      
ol#post-list   {list-style-type: none;
                padding-left:4px;
                margin:4px;
                height: 1200px;
                width:99%;
                background-color: #EFEFEF;
                overflow-y: auto;
                display:flex;
                flex-direction: column;}
                
li { background: #EFEFEF; }
li:nth-child(odd) { background: #EAECEA; }

input {outline: 0;
       outline-offset: 0;
       -webkit-box-shadow: none;
       box-shadow: none;
       padding:1.5px;
       border: none;
       background-color: Beige;}

input#post-input {width:60%;}

input[type=button] {width:60px;height:20px;}

input#users-btn {display: none;}

span.info {display: inline-block;
           width: 80px;
           text-align: right;
           overflow: hidden;
           white-space: nowrap; 
           text-overflow:ellipsis;
           margin-bottom:-3.5px;
           padding-right:2px;
           border-right:solid black 1px;}

span.login {display: inline-block;
            text-align: right;
            font-size:0.9em;
            font-family:monospace;
            color: tomato;
            width: 120px;
            overflow: hidden;
            white-space: nowrap; 
            text-overflow:ellipsis;
            padding-right:2px;
            margin-bottom:-3.5px;
            vertical-align: top; }

span.message {display:inline-block;
              width:83%;
              padding-left:2px;
              overflow-wrap: break-word;
}



span.horloge {color: green;
              margin-right: 4px;
              vertical-align: top;
              font-size:0.9em;
              font-family:monospace;}

span.href {color: blue;
           vertical-align: top;
           font-family: monospace;
           font-size:0.9em;
           vertical-align:middle;}
           
span.mref {color: chocolate;
           display:inline-block;
           vertical-align: top;
           font-family: monospace;
           font-size:0.9em;
           vertical-align:middle;
           overflow: hidden;
           white-space: nowrap; 
           text-overflow:ellipsis;
           }

 /* Le Modal (background) */
div.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}


/* Modal Content/Box */
div.modal-content {
    background-color: #fefefe;
    margin: 1% auto;
    padding: 5px;
    border: 1px solid #888;
    width: 98%; /* Could be more or less, depending on screen size */
    height: 88%;
}

div#user-id {
    word-break: break-all;
    overflow-wrap: break-word;
    width: 100%;
}


label.profile {font-weight: bold;}


input.profile-value {margin-top:6px;}
input[type=number] {width:40px;}

img {vertical-align: text-top;}
img.drawing {padding:4px;}

div#message-view {border:solid green 1px;
                  position: absolute;
                  top:10px;
                  right:56px;
                  width:900px; /* Will be set dynamically to (window.innerWidth - 100)+'px' */
                  visibility: hidden;
                  opacity: 1;
                  background-color:lightgreen;
                  padding:2px;
                  }

/* Sketchpad */
div#sketchpadapp {
    /* Prevent nearby text being highlighted when accidentally dragging mouse outside confines of the canvas */
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    height: 100%;
}

canvas#sketchpad {border:2px solid black;
                  margin:6px;
                  border-radius:4px;
                  position:relative; /* Necessary for correct mouse co-ords in Firefox */
}

/* Splashscreen */

div#splashscreen {
    width:100%;
    height:100%;
    margin: auto;
}

div#splashscreen-content {
    background-color: #fefefe;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    border: 1px solid #888;
    width:400px;
    height:350px;
}

p#loading-status {
    display: inline-block;
    margin: auto;
    align-self: flex-end;
}

img#yab-logo {
    display: inline-block;
    margin: auto;
    align-self: flex-start;
}

